
# HTID:18366685: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18366685:
